@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

body {
    margin: 0;
    padding: 0;
    background: #7c9e9e;
    font-family: 'Open Sans', sans-serif;
}

body.dark {
    background: #5a5a5a;
}

#wrapper {
    width: 30vw;
    position: absolute;
    left: 35vw;
    background: #FFF;
    top: 50%;
    height: 60vh;
    transform: translateY(-50%);
    border-radius: 0 0 10px 10px;
    border: none;
    color: #777;
}

.dark #wrapper {
    background: #464646;
    color: #cecece;
}

#controlwrapper, #inputwrapper {
    background: #7c9e9e;
    position: relative;
    top: -1px;
}

.dark #controlwrapper, .dark #inputwrapper {
    background: #5a5a5a;
}

.plyr__video-wrapper {
    display: none;
}

.plyr__controls, .plyr__control {
    display: none !important;
}
.currenttrack {
    color: #8fafaf;
}

.dark .currenttrack {
    color: #f3f3f3;
}

#overlay {
    display: block;
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100vw;
    background: #96BBBB;
    height: 100vh;
}

#desc {
    margin-left: 10px;
}

button {
    outline: none;
    border: none;
    background: none;
}

.hidden {
    display: none;
}

#controls, #inputs {
    background: #96BBBB;
    margin: 0 auto;
    text-align: center;
    height: 80px;
    vertical-align: middle;
    border-radius: 10px 10px 0 0;
    line-height: 80px;
}

.dark #controls, .dark #inputs {
    background: #3e3e3e;
}

input {
    padding: 7px 25px;
    border: none;
    outline: none;
    border-radius: 5px;
    color: #555;
}

.dark input {
    background: #f3f3f3;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #ccc;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #ccc;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #ccc;
}
:-moz-placeholder { /* Firefox 18- */
    color: #ccc;
}

.dark ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #aaa;
}
.dark ::-moz-placeholder { /* Firefox 19+ */
    color: #aaa;
}
.dark :-ms-input-placeholder { /* IE 10+ */
    color: #aaa;
}
.dark :-moz-placeholder { /* Firefox 18- */
    color: #aaa;
}

#desc {
    padding: 10px;
}

#vidgo {
    background: #7c9e9e;
    color: white;
    line-height: normal;
    padding: 8px 25px;
    border-radius: 5px;
}

.dark #vidgo {
    background: #2f2f2f;
}

#controls button {
    width: 80px;
    color: #fafafa;
    height: 80px;
    display: inline-block;
    vertical-align: bottom;
    font-size: 1em;
}

#controls button:hover {
    font-size: 1.1em;
    background: #84a5a5;
}

.dark #controls button:hover {
    background: #353535;
}

table {
    margin: 0 auto;
}

tr {
    width: 100%;
    height: 30px;
    font-weight: 600;
    cursor: pointer;
}

tr:hover {
    color: #585858;
}

.dark tr:hover {
    color: #f3f3f3;
}

tr > td:first-child {
    width: 50px;
    padding-right: 20px;
    text-align: right;
}

#listtitle {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}


#trackwrapper {
    height: calc(60vh - 120px);
    margin: 20px 10px;
}

.simplebar-scrollbar::before {
    background: #737d7d !important;
}

.dark .simplebar-scrollbar::before {
    background: #3d3d3d !important;
    opacity: 0.8 !important;
}

.simplebar-track:hover .simplebar-scrollbar:before {
    opacity: 0.7 !important;
}

.dark .simplebar-track:hover .simplebar-scrollbar:before {
    opacity: 1 !important;
}

#tools {
    position: absolute;
    top: 5px;
    right: 5px;
    color: #abd4d4;
}

.dark #tools {
    color: #929292;
}

#tools span {
    display: inline-block;
    width: 30px;
    height: 30px;
}
